@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.Configuration.Json
@inject IConfiguration Configuration
<script type="text/javascript">
    const app_host_API = @Json.Serialize(@Configuration.GetSection("Endpoint").GetSection("POS_API_IP").Value);
    const api_port_API = @Json.Serialize(@Configuration.GetSection("Endpoint").GetSection("POS_API_PNO").Value);
    const Result_API = (app_host_API + ":" + api_port_API);

    const core_host_API = @Json.Serialize(@Configuration.GetSection("Endpoint").GetSection("GLOBAL_API_IP").Value);
    const Global_API = (core_host_API);
    var getsession = window.sessionStorage.getItem("tokenIndex");
    sessionStorage.setItem("successFreelook", '@TempData["successMessage"]');
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="~/Assets/js/servicePos/freeLook.js"></script>
<form class="form-horizontal" action="/Services/REQUEST_FREE_LOOK_SURRNDR" method="post">
    <div class="card">
        <div class="card-body card-funds">
            <div class="row flex-div">
                <div class="col-md-2">
                    <img src="~/Assets/images/SalaamSavings.png" id="image_logo" />
                </div>
                <div class="col-md-8">
                    <h2 class="text-lemonade text-primary text-center mt-3 mb-4">Policy Surrender</h2>
                </div>
            </div>
            <h4 class="text-center service-policy mt-3" hidden>Freelook cancellation against my Policy No. <span class="policy_no"></span></h4>
            <input name="FSSH_POL_CODE" id="FSSH_POL_CODE" hidden />
            <input name="FSSH_SRNDR_AMT" id="FSSH_SRNDR_AMT" hidden />
            <input name="FPDM_PROPOSAL_NO" id="FPDM_PROPOSAL_NO" hidden />
            <h4 class="text-center"><a class="change-policy-num">Select Policy Number</a></h4>
            <div class="serviceProcess" hidden>
                <div class="row mt-4 justify-content-center">
                    <div class="col-md-6">
                        <div class="row mb-1">
                            <div class="col-md-6 mb-2">
                                <div class="p-4 custom_row2 contrib_paid" type="button">

                                </div><br />
                            </div>
                            <div class="col-md-6 mb-2">
                                <div class="p-4 custom_row2 currentCashValue" type="button">

                                </div><br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-1 justify-content-center mb-2">
                    <div class="col-md-6 alert alert-danger">
                        <p class="line-height-2">Before you cancel your Life Takaful membership, consider the long-term impact, it may have on your family's financial security.<br />Speak with us to explore options that can better meet your needs and ensure your loved ones are protected.</p>
                    </div>
                </div>
                <div class="row mt-2 justify-content-center mb-2">
                    <div class="col-md-6">
                        <div class="font-cursive withdrwlText salaam-color p-3 animated animatedFadeInUpp fadeInUpp text-center text-white line-height-2">
                            Refundable Amount <br />PKR <span class="refund_amount"></span>
                        </div>
                    </div>
                </div>
                <input class="form-control" name="SUM_CUST_CONTPHONE" id="SUM_CUST_CONTPHONE" hidden />
                <input class="form-control" name="SUM_FULL_NAME" id="SUM_FULL_NAME" hidden />
                <input class="form-control" name="SUM_USER_EMAIL_ADDR" id="SUM_USER_EMAIL_ADDR" hidden />
                <input class="form-control" name="FSCU_CUSTOMER_CODE" id="FSCU_CUSTOMER_CODE" hidden />
                <div class='row mt-3 mb-3 justify-content-center text-danger'>
                    <div class="col-md-3">
                        <button class="btn btn-outline-info w-100 mt-4" type="button" id="btnProceedFreeLook">Proceed</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade animated animatedFadeInUpp fadeInUpp" id="AgreementModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="text-lemonade">Do you want to continue?</h3>
                    <button class="btn btn-rounded btn-danger" type="button" id="btnDisAgreeTerms">Change my Mind</button>
                    <button class="btn btn-rounded btn-success" type="button" id="btnAgreeTermsCond">I want to proceed</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="custBankDtls" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content card-onboard">
                <div class="modal-body">
                    <div class="modal-icon">
                    </div>
                    <h2 class="text-lemonade">Please Enter Your Bank Details</h2>
                    <div class="row mt-5">
                        <div class="col-md-6">
                            <label class="text-primary">Bank Name</label>
                            <input class="form-control" name="FSBK_BANK_NAME" id="FSBK_BANK_NAME" placeholder="HBL" required />
                        </div>
                        <div class="col-md-6">

                            <label class="text-primary">Branch Name</label>
                            <input class="form-control" name="FSCB_BRANCH_NAME" id="FSCB_BRANCH_NAME" placeholder="Branch Name" required />

                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-6">
                            <label class="text-primary">Account Title</label>
                            <input class="form-control" name="FSCB_ACCOUNT_TITLE" id="FSCB_ACCOUNT_TITLE" placeholder="Ali Ahmed" required />
                        </div>
                        <div class="col-md-6">
                            <label class="text-primary">Account Number</label>
                            <input class="form-control" name="FSCB_ACCOUNT_NO" id="FSCB_ACCOUNT_NO" placeholder="054956235463256" required />
                        </div>
                    </div>
                    <div class="row mt-5">

                        <div class="col-md-6">
                            <label class="text-primary">IBAN</label>
                            <input class="form-control" name="" id="" placeholder="012549" />
                        </div>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <div class="col-md-3">
                            <button class="btn btn-outline-info w-100" type="button" id="closeRequest">Cancel</button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-outline-success w-100" type="submit" id="submitRequest">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>